<%- include("includes/head")%>
</head>

<body>
    <%- include("includes/navigation")%>
    <h1>Ocorreu algum erro!</h1>
    <p>Estamos trabalhando para consertar isso, desculpe pela inconveniencia!</p>
<%- include("includes/end") %>